<div id="container-questionnaire" class="class1">
    <h1>Task Complete</h1>

    <hr />

    <p>You are finished!  Thank you for your contributions to science. Please answer the following questions before submitting.</p>

  
    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">
  
            <h3>Demographics</h3>
                        
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-5 (where 5 is the most experience), please rate how much experience you have with robotics:
                </div>
                <div class="col-md-4">
                    <select id="experience" name="experience">
                        <option value="5" >5 - Lots of experience</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1 - No experience</option>
                        <option value="0" SELECTED></option>
                    </select>
                </div>
            </div>
            
            <div class="row question">
                <div class="col-md-8">
                    What is your gender?
                </div>
                <div class="col-md-4">
                    <select id="gender" name="gender">
                        <option value="Male" >Male</option>
                        <option value="Female">Female</option>
                        <option value="Nonbinary">Nonbinary</option>
                        <option value="Other">Prefer to self-describe below
                        <option value="NoReport">Prefer not to say</option>
                        <option value="Unselected" SELECTED></option>
                    </select>
                </div>
            </div>
            <div class="row question">
                <div class="col-md-8">If you would prefer to self-describe your gender, please do so here: </div> 
               <div class="col-md-4"><input type="text" id="selfdescribegender"></div>
            </div>
            
            <div class="row question">
                <div class="col-md-8">What is your age?</div> 
               
                <div class="col-md-4"><input type="text" id="age"></div>
            </div>
        
            
            <h3>Task Questions</h3>
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>difficult</b> you found the task overall:
                </div>
                <div class="col-md-4">
                    <select id="difficulty_overall" name="difficulty_overall">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" >5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1 - Not Difficult</option>
                        <option value="0" SELECTED></option>
                    </select>
                </div>
            </div>


            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>difficult</b> you found predicting where the robot was going:
                </div>
                <div class="col-md-4">
                    <select id="difficulty-robot" name="difficulty-robot">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" >5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1 - Not Difficult</option>
                        <option value="0" SELECTED></option>
                    </select>
                </div>
            </div>


            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>difficult</b> you found the task of classifying arrows:
                </div>
                <div class="col-md-4">
                    <select id="difficulty_arrows" name="difficulty_arrows">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" >5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1 - Not Difficult</option>
                        <option value="0" SELECTED></option>
                    </select>
                </div>
            </div>


            <br/>
            For the following, please take care not to reveal any private or personally identifiable information about yourself or others.
            <br/>
            <br/>

            <div class="row question">
                <div class="col-md-6">Was there anything that the robot did that surprised you?</div> 
               
                <div class="col-md-6"><input type="text" id="surprise" size="80" class="textbox"></div>
            </div>

            <div class="row question">
                <div class="col-md-6">How  did  you  determine  which  table  the  robot  was  approaching?</div> 
               
                <div class="col-md-6"><input type="text" id="howdetermine" size="80" class="textbox"></div>
            </div>


            <div class="row question">
                <div class="col-md-6">Was there anything that made the robot's motion hard to understand?</div> 
               
                <div class="col-md-6"><input type="text" id="hardtounderstand" size="80" class="textbox"></div>
            </div>
            
            
             <div class="row question">
                <div class="col-md-6">Are there any changes that would have made the robot's motion easier to understand?</div> 
               
                <div class="col-md-6"><input type="text" id="easiertounderstand" size="80" class="textbox"></div>
            </div>
            
            
            <div class="row question">
                <div class="col-md-6">Were any of the routes the robot took particularly hard to interpret?</div> 
               
                <div class="col-md-6"><input type="text" id="surprise" size="80" class="textbox"></div>
            </div>

            
            <div class="row question">
                <div class="col-md-6">What types of paths best met your expectations of a robot's movements?</div> 
               
                <div class="col-md-6"><input type="text" id="expectations" size="80" class="textbox"></div>
            </div>

            
        
<!--             <div class="row question">
                <div class="col-md-6">Were there any differences between how the robot moved and how a human waiter might move?</div> 
               
                <div class="col-md-6"><input type="text" id="differences" size="80" class="textbox"></div>
            </div>
            
            <div class="row question">
                <div class="col-md-6">If you were a server in a restaurant, what would you do to make your path clear to observers?</div> 
               
                <div class="col-md-6"><input type="text" id="ifyouwerewaiter" size="80" class="textbox"></div>
            </div>
 -->
            
            <div class="row question">
                <div class="col-md-6">Do you have any other comments about the task?</div>
               
                <div class="col-md-6"><input type="text" id="othercomments" size="80" class="textbox"></div>
            </div>

            <div class="row question">
            <div class="col-md-6">What is your participant ID? Ask the experimenter for this.</div> 
               
                <div class="col-md-6"><input type="text" id="prolific_id" size="25" class="textbox"></div>
            </div>
            


        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Submit <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>


<style>
    .class1{
        padding-top: 20px;
        padding-left: 30px;
    
    }
    
    .textbox{
        height: 70px;
    }
</style>